<div class="bgimg">
  <div class="middle">
    <%= image_tag 'logo/web/CBD-Sport-Solutions-logo_vertical_CMYK.png', class: "coming-soon-logo" %>
    <br>
    <h1>COMING SOON</h1>
    <hr>
    <p>For more information, contact Matthew Thomas<br>720.422.1234<br>matt@singletrackcorp.com</p>
  </div>
  <div class="bottomleft">
    <p>Copyright &copy; CBD Sports Solutions 2019</p>
  </div>
</div>
