<div class="bgimg">
  <div class="middle">
    <%= image_tag 'logo/web/CBD-Sport-Solutions-logo_vertical_CMYK.png', class: "coming-soon-logo" %>
    <br>
    <h1>UNDER CONSTRUCTION</h1>
    <hr>
    <p>
      <%= link_to "Click here for a first look at our products", products_path %>
    </p>
  </div>
</div>
